<template>
  <div class="libs-item">
    <h1>{{ lib.nativeName }}</h1>
    <div v-html="lib.data.general.description"></div>
  </div>
</template>

<script>
import { getLibrary } from "@/api.js";
export default {
  data() {
    return {
      lib: [],
    };
  },
  mounted() {
    const libId = this.$route.params.id;
    getLibrary((library) => {
      this.lib = library;
      console.log(this.lib);
    }, libId);
  },
};
</script>

<style lang="scss" scoped></style>
