<template>
  <section class="libs">
    <h1>Каталог библиотек в регионах</h1>

    <div class="libs-head">
      <p>Всего библиотек: {{ numberLibraries }}</p>
      <div class="libs-head__search">
        <div>
          Фильтр: <input v-model="filter" /> Найдено:
          {{ filteredLibraries.length }}
        </div>
      </div>

      <div v-if="filteredLibraries.length" class="pagination">
        <button class="" :disabled="!(page > 1)" @click="page = page - 1">
          Назад
        </button>
        <button class="" :disabled="!hasNextPage" @click="page = page + 1">
          Вперед
        </button>
      </div>
    </div>
    <div class="libs-list">
      <div v-if="isLoading" class="loader">Идет загрузка...</div>
      <div v-if="!filteredLibraries.length" class="not-found">
        Ничего ненайдено
      </div>
      <libs-item
        v-for="lib in paginatedLibraries"
        :key="lib._id"
        :lib="lib"
        class="libs-item"
      />
    </div>
  </section>
</template>

<script>
import LibsItem from "@/components/LibsItem.vue";
import { getAllLibraries } from "@/api.js";

export default {
  name: "Libraries",
  components: {
    LibsItem,
  },
  ITEM_ON_PAGE: 10,
  data() {
    return {
      page: 1,
      libraries: [],
      filter: "",
      isLoading: true,
      numberLibraries: null,
    };
  },
  mounted() {
    getAllLibraries((libraries) => {
      this.libraries = libraries;
      this.numberLibraries = this.libraries.length;
      this.isLoading = false;
    });
  },
  computed: {
    startIndex() {
      return (this.page - 1) * this.$options.ITEM_ON_PAGE;
    },
    endIndex() {
      return this.page * this.$options.ITEM_ON_PAGE;
    },
    hasNextPage() {
      return this.filteredLibraries.length > this.endIndex;
    },
    filteredLibraries() {
      return this.libraries.filter((lib) =>
        lib.nativeName.toUpperCase().includes(this.filter.toUpperCase())
      );
    },
    paginatedLibraries() {
      return this.filteredLibraries.slice(this.startIndex, this.endIndex);
    },
  },
};
</script>

<style lang="scss">
.loader {
  display: flex;
  justify-content: center;
}
.pagination{
  padding: 10px 0;
}

.libs-list {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 10px;
  overflow-y: scroll;
  background-color: rgb(245, 245, 245);
}
.libs-item {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  margin-bottom: 10px;

  &__title {
    margin: 0 0 10px 0;
  }
}
</style>
