<template>
  <div class="libs-item">
    <h3 class="libs-item__title">{{ lib.nativeName }}</h3>
    <div class="libs-item__adr">
      {{ lib.data.general.address.fullAddress }}
    </div>
    <button class="" @click="$router.push(`/libraries/${lib._id}`)">Подробнее</button>
  </div>
</template>

<script>
export default { 
  props: {
    lib: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped></style>
