<template>
  <div class="wrap">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/libraries">SearchLibraries</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
#nav {
  text-align: center;
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.wrap{
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;

}

</style>
